<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body id="myPage"> 
    <br>
    <h2>About Healthify Hub</h2>
    <br>
    <marquee>Welcome to Healthify Hub </marquee>
    <marquee>We are open on weekdays from 7 AM to 9 PM and on Saturdays from 8 AM to 5 PM</marquee>
    <br>
    <div class="w3-table">
        <table >
            <tr><td><img src="assets\image1.jpg" class="image1"></td>
                <td><img src="assets\image2.jpg" class="image2"></td>
                <td><img src="assets\image3.jpg" class="image3"></td>
            </tr>
        </table>
    </div>

    <p class="para">Healthify Hub was established in 2010. We aim to provide quality services.<br>
        We are proud to announce that we are a team of 5000 employees. We will help you more in the future.<br>
        Better health, Better hub
    </p>
    </body>
    </html>
  
