<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<br>
<br>
<body>
    <div class="w3-container-fluid">
        <div class="row">
            <h4>Contact Us</h4>
        </div>
        <div class="row">
            <h6>For any queries, you may contact us</h6>
        </div>
        <div class="row">
            <div class="col-lg-1">Our Email</div>
            <div class="col-lg-4"><a href="healthifyhub@gmail.com">healthifyhub@gmail.com</a></div>
            <div class="col-lg-1">Contact</div>
            <div class="col-lg-4"><a href="www.google.com">+031-8383824</a></div>
        </div>
    </div>
</body>
</html>