<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body id="myPage">
    <br>
    <div class="w3-responsive">
    <div>
        <br>
        <marquee>You can place your appointment today!</marquee>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1">Name</div>
            <div class="col-lg-3"><input type="text"></div>
            <div class="col-lg-1">Age</div>
            <div class="col-lg-3"><input type="text"></div>
            <div class="col-lg-1">DOB</div>
            <div class="col-lg-1"><input type="date"></div>

        </div>
        <br>
        <div class="row">
            <div class="col-lg-1">Email</div>
            <div class="col-lg-3"><input type="text"></div>
            <div class="col-lg-1" id="phone">Phone Number</div>
            <div class="col-lg-3"><input type="text"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-1">Address Line 1</div>
            <div class="col-lg-11"><input type="text" size="160"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-1">Address Line 2</div>
            <div class="col-lg-11"><input type="text" size="160"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-1">City</div>
            <div class="col-lg-3"><input type="text" size="30"></div>
            <div class="col-lg-1">State</div>
            <div class="col-lg-3"><input type="text" size="30"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-1">Phone</div>
            <div class="col-lg-3"><input type="text" size="30"></div>
            <div class="col-lg-1">Landline</div>
            <div class="col-lg-3"><input type="text"></div>
        </div>
        <br>
        <div class="row"> 
            <div class="col-lg-1">Gender</div>
            <div class="col-lg-1">Female <input type="radio"></div>
            <div class="col-lg-1">Male <input type="radio"></div>   
        </div>
        <div class="row"> 
        <div class="col-lg-6">
            <input type="submit" value="Submit" id="submit">
        </div>
        </div>
        <div class="row"> </div>
        <div class="row"> </div>
        <div class="row"> </div>
        <div class="row"> </div>


        </div>
    </div>
       
</body>
</html>
