<html>
    <body>
    <br>
    <h4>You may view your previous appointments here</h4>
    <marquee>Thank you for staying connected with us</marquee>
    <table border="3px" class="table">
        <tr><th>Name</th><th>Age</th><th>DOB</th><th>Phone Number</th><th>Gender</th><th>Address Line 1</th><th>Address Line 2</th></tr>
        <tr><td>Alice</td><td>20</td><td>20-11-2002</td><td>+031 228383</td><td>Female</td><td>West park</td><td>Unites States</td></tr>
        <tr><td>Kit</td><td>21</td><td>20-11-2001</td><td>+031 228387</td><td>Male</td><td>West park</td><td>Unites States</td></tr>
        <tr><td>Rose</td><td>22</td><td>20-11-2000</td><td>+031 228381</td><td>Female</td><td>West park</td><td>Unites States</td></tr>
        <tr><td>Monica</td><td>23</td><td>20-11-1999</td><td>+031 228385</td><td>Female</td><td>West park</td><td>Unites States</td></tr>
        <tr><td>Alice</td><td>20</td><td>20-11-1999</td><td>+031 228383</td><td>Female</td><td>West park</td><td>Unites States</td></tr>
    </table>

</body>
</html>
