<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<br>
<body>
    <br>
    <h4>We are here to answer your queries!</h4>
<div class="w3-table">
    <div class="table">
        <table>
            <br>
        <tr class="tablehead">Drop your query here <br></tr>
        <tr>                                       </tr>
        <tr></tr>
        <br>
        <tr>
            <td><tr>Your Name  <td><input type="text" size="100"></tr>
                <tr></tr><br>
                <tr>Your Email  <td><input type="email" size="100"></tr>
                <tr></tr><br>
                <tr>Your Phone  <td><input type="text" size="100"></tr>
            <td>Write your query
                <tr>
                    <textarea>

                    </textarea>
                </tr>

            </td></tr>
        </table>   
    </div>
</div>
<div class="w3-button">
    <input type="submit" value="Submit" id="submit">
</div>

</body>
</html>

